.ws-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo-div {
  padding-top: 10px;
  padding-bottom: 10px;
}

#top-navbar {
  list-style-type: none;
  margin: 0 auto;
  background-color: #333333;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 5px 5px 5px;
}

.top-nav {
  display: inline;
  color: #FAFAFA;
  padding: 5px 5px 5px 5px;
}

.top-nav:hover {
  background-color: #111;
}

#nav-last {
  background-color: #29365a;
}

#nav-location {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
}

#nav-location li {
  display: block;
  float: left;
  padding: 5px 5px 5px 5px;
}

#center-div{
  display: inline-block;
}

#big-product-image {
  float: left;
  width: 60%;
  text-align: center;
}

.big-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#desc-text {
  float: left;
  width: 40%;
  padding-top: 20px;
}

h2 {
  padding-bottom: 20px;
  font-size: 20px;
}

#prod-details {
  padding-top: 20px;
  list-style-type: disc;
  padding-left: 30px;
}

#small-product-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.small-aprons {
  display: inline;
}
